<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <!-- הפקודה בשורה 4 ממדת את המסמך שלי לקרוא כמעט את כל התווים בעולם, זה שם של תקן  -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- הפקודה בשורה 8 מקשרת את ההטמל לסיסס -->
    <title> Home page </title>
</head>

<body>
    <h1> WOW </h1>
    <p> paragraph?</p>
    <p> {{ content }}</p>
</body>

</html>